{% extends "base.html" %}
{% block title %}Settings{% endblock %}

{% block content %}
<form method="post" action="/">


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
             <div class="row">
                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">User Details</p>
                        </div>
                        <div class="card-body">
                            
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group"><label for="username">
                                        <strong>Username</strong></label>
                                        <p>{{ session.user }}</p>

                                        <strong>New Username</strong></label>
                                        <p></p>
                                        <input class="form-control" type="text" name="nm" />
                                    </div>
                                    
                                </div>
                                <div class="col">
                                    <div class="form-group"><label for="password">
                                        <strong>Password</strong></label>
                                        <p>{{ session.password }}</p>

                                        <strong>New Password</strong></label>
                                        <p></p>
                                        <input class="form-control" type="text" name="pw" />
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-primary" href="{{ url_for('settings', command='save_setting') }}" role="button">
                                Save Settings
                            </a>
                            
                        </div>
                    </div>

                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Remove Account</p>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <a class="btn btn-danger" href="{{ url_for('settings', command='delete_account') }}" role="button">
                                    Delete Account
                                </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</form>
{% endblock %}