<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">

    {% endblock %}
    
    <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
      

      <nav class="navbar navbar-light navbar-expand shadow-sm mb-4 topbar static-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Comic Reader</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <ul class="navbar-nav flex-nowrap m4-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/library/">Library<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/viewusers/">Users<span class="sr-only">(current)</span></a>
            </li>

          </ul>

          <form class="pull-left navbar-search" action="{{ url_for('search', variable=q) }}">
                <div class="input-group"><input type="text" class="bg-light form-control border-0 medium" placeholder="Search for ..." name="q" height="43px"/>
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <img src="/static/search.png" width="22" height="22">
                        </img>
                    </button>
                  </div>
                </div>
          </form>
            <ul class="navbar-nav flex-nowrap ml-auto">
                <li class="nav-item dropdown no-arrow">
                    <div class="nav-item dropdown no-arrow">
                      {% if "user" in session %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{session["user"]}}
                        </a>
                      {% else %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          My Account
                        </a>
                      {% endif %}
                        <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in">
                          {% if "user" in session %}
                          <a class="dropdown-item" href="/profile/">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> 
                            Profile
                          </a>
                          {% else %}
                          <a class="dropdown-item" href="/login/">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> 
                            Login
                          </a>
                          {% endif %}

                          <a class="dropdown-item" href="/settings/">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> 
                            Settings
                          </a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/logout/">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> 
                              Logout
                          </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
        
        
        <div class="container-fluid">
          {% with messages = get_flashed_messages() %}
            {% for msg in messages %}
              <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {{ msg }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
          {% endwith %}
          {% block content %}
          {% endblock %}
        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>